llama-parse 
llama-index-embeddings-fastembed
llama-index
fastembed
llama-index-vector-stores-qdrant
qdrant_client
llama-index-embeddings-ollama
llama_index-llms-ollama
python-dotenv
llama-index-llms-groq
onnxruntime<1.20 # https://github.com/qdrant/fastembed/issues/385